IO_LOC "clk" V22;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "rst" Y12;
IO_PORT "rst" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC "tmds_d_p_0[0]" J14,H14;
IO_PORT "tmds_d_p_0[0]" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p_0[1]" J15,H15;
IO_PORT "tmds_d_p_0[1]" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p_0[2]" K17,J17;
IO_PORT "tmds_d_p_0[2]" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_clk_p_0" G15,G16;
IO_PORT "tmds_clk_p_0" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;

IO_LOC "hpd_en" K13;
IO_PORT "hpd_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "led" T18;
IO_PORT "led" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

INS_LOC "u_tmds_pll/PLLA_inst" PLL_R[0];

// Exact pins from the currently board-tested 60k_ec11_uart_test CST.
IO_LOC "ec11_a" A15;
IO_PORT "ec11_a" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ec11_b" B20;
IO_PORT "ec11_b" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ec11_sw_n" B21;
IO_PORT "ec11_sw_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
